.v-select {
  @apply text-gray-900;
}

.vs__selected {
  @apply text-gray-700;
}

.vs__search {
  @apply text-gray-900;
  white-space: nowrap;
}

.vs__actions {
  @apply text-gray-500;
}


.vs__dropdown-option--selected {
  @apply bg-blue-50;
}

.vs__dropdown-toggle {
  @apply border border-gray-300 rounded-lg px-2 py-2;
  border-bottom-width: 1px;
  background-color: white;
  position: relative;
  z-index: 10;
}

.vs__dropdown-menu {
  @apply mt-1 rounded-lg shadow-md border border-gray-200;
  margin-top: 0.25rem;
  border-top-width: 1px;
  z-index: 20;
  height: 300px;
  overflow-y: scroll;
}
.v-select-cutom {
  @apply mt-1 rounded-lg shadow-md border border-gray-200;
  margin-top: 0.25rem;
  border-top-width: 1px;
  z-index: 9999 !important;
}

/* ใช้ CSS ปกติสำหรับ font-size ที่ Tailwind ไม่มี */
.vs__placeholder {
  font-size: 15px;
}
